# Just rename this file to .env; no changes needed
POSTGRES_HOST=localhost
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=astrocollectordb_test
POSTGRES_PORT=5433

REDIS_HOST=localhost
REDIS_PORT=6380

APPLAUSE_TOKEN=putyourtokenhere
SECRET_KEY=putyoursecrethere
SUPER_ADMIN_EMAIL=putsuperadminemailhere
SUPER_ADMIN_PASSWORD=putsuperadminpwdhere
